* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #019147;
    --secondary-color: #e6f8ef;
    --button-color: #ff9822;
    --primary-transition: transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}

section {
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: '. content content content content content content content content content content .';
}

.content {
    grid-area: content;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}

nav.main-nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
}


ul {
    display: flex;
}

ul li {
    list-style: none;

}

a.active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 2px solid #019147;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 24px;
    color: var(--primary-color);
}

.logo h1 {
    font-size: 24px;
}

.donate-btn button {
    background-color: var(--button-color);
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.donate-btn button:hover {
    background-color: #fb9017;
}


.menu {
    display: none;
}

i.menu-btn {
    display: none;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        -o-transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'content content content content content content content content content content content content';
    }

    i.menu-btn {
        display: block;
        font-size: 20px;
        cursor: pointer;
        transition: all ease .3s;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
        -o-transition: all ease .3s;
    }


    .donate-btn {
        display: none;
    }

    nav.main-nav {
        display: none;
    }

    .menu.active {
        display: block;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #cdcdcd;
        width: 90vw;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        padding: 20px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        z-index: 999999;
    }


    .menu nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu nav ul li {
        width: 100%;
    }

    .menu nav ul li a {
        display: block;
        text-decoration: none;
        color: black;
        width: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: none;
        outline: none;
        transition: all ease .3s;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
        -o-transition: all ease .3s;
    }


    .menu nav ul li a.active {
        background-color: #00c760;
        border-bottom: none;
        color: #fff;
        font-weight: 700;
    }

    .menu nav ul li a:hover {
        background-color: #00e36e35;
    }

    .menu nav ul li a.active:hover {
        background-color: #00a550;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {

    header {
        padding: 15px 5px;
    }

    nav.main-nav a {
        padding: 10px 0;
        font-size: 14px;
    }

    nav.main-nav ul {
        gap: 7px;
    }

    .donate-btn button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .logo i {
        font-size: 20px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .donate-btn {
        display: none;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    nav.main-nav a {
        padding: 10px 0;
        font-size: 16px;
    }

    nav.main-nav ul {
        gap: 10px;
    }

    .donate-btn button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .logo i {
        font-size: 20px;
    }

    .logo h1 {
        font-size: 20px;
    }
}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}


/* ------------------------------------------------------ */
/* -------------                            ------------- */
/* -------------           landing          ------------- */
/* -------------                            ------------- */
/* ------------------------------------------------------ */

section {
    height: 600px;
}

section.landing {
    height: 500px;
    width: 100%;
    display: flex;
    background: rgb(1, 145, 71);
    background: linear-gradient(90deg, rgba(1, 145, 71, 1) 0%, rgba(3, 147, 73, 1) 21%, rgba(5, 173, 87, 1) 58%, rgba(5, 175, 87, 1) 79%, rgba(4, 200, 99, 1) 91%, rgba(2, 222, 109, 1) 100%);
    padding: 0px 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.landing .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

section.landing .left h1 {
    font-size: 45px;
    color: #fff;
}

.break-text {
    display: inline-block;
    position: relative;
}

.break-text::after {
    content: "In The Name Of Allah, \A The Creator Of The \A Universe";
    white-space: pre;
}


section.landing .left p {
    font-size: 16px;
    color: #ffffffbc;
    margin-bottom: 10px;
}

section.landing .left button {
    padding: 13px;
    color: #fff;
    font-weight: 600;
    align-self: flex-start;
    background-color: var(--button-color);
    border: none;
    box-shadow: rgba(88, 88, 88, 0.35) 0px 5px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}


section.landing .right {
    width: 50%;
    padding: 20px;
}

section.landing .right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {
    section.landing {
        position: relative;
        padding: 0px 20px;
        background-color: #019147;
        overflow: hidden;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    section.landing::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('./img/01-1-1.png') center/contain no-repeat;
        opacity: 0.3;
        /* Control the opacity of the image */
    }

    section.landing .left {
        width: 100%;
        position: relative;
        z-index: 2;
    }


    section.landing .left h1 {
        font-size: 30px;
    }

    section.landing .left p {
        font-size: 12px;
    }

    section.landing .right {
        display: none;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {
    section.landing {
        position: relative;
        padding: 0px 40px;
        background-color: #019147;
        overflow: hidden;
    }

    section.landing::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('./img/01-1-1.png') center/contain no-repeat;
        opacity: 0.3;
        /* Control the opacity of the image */
    }

    section.landing .left {
        width: 70%;
        position: relative;
        z-index: 2;
    }


    section.landing .left h1 {
        font-size: 40px;
    }

    section.landing .left p {
        font-size: 15px;
    }

    section.landing .right {
        display: none;
    }
}

/* Tablets (Portrait) */
/* @media (min-width: 768px) and (max-width: 1024px) {

    section.landing {
        padding: 0px 60px;
    }

    section.landing .left h1 {
        font-size: 40px;
    }

} */

/* Tablets (Portrait) */
/* @media (min-width: 769px) and (max-width: 920px) {

    section.landing {
        padding: 0px 60px;
    }

    section.landing .left h1 {
        font-size: 40px;
    }

} */

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {

    section.landing {
        padding: 0px 50px;
    }

    section.landing .left h1 {
        font-size: 37px;
    }

    section.landing .left p {
        font-size: 13px;
    }

}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}


/* ------------------------------------------------------ */
/* -------------                            ------------- */
/* -------------      select-location       ------------- */
/* -------------                            ------------- */
/* ------------------------------------------------------ */

.select-location {
    height: auto;
    margin-bottom: 0;
    padding: 0 70px;
}

.select-location-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.select-location-content .header h2 {
    font-size: 30px;
    font-weight: 700;
}

.select-location-content .header button {
    padding: 10px 20px;
    background-color: var(--button-color);
    font-size: 12px;
    font-weight: 700;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.select-location-content .header button span {
    margin-right: 5px;
}


/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {
    .select-location {
        padding: 0;
    }

    .select-location-content .header h2 {
        font-size: 20px;
        font-weight: 700;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {
    .select-location {
        padding: 0 20px;
    }

    .select-location-content .header h2 {
        font-size: 25px;
        font-weight: 700;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .select-location {
        padding: 0 70px;
    }

    .select-location-content .header h2 {
        font-size: 30px;
        font-weight: 700;
    }
}

/* Tablets (Portrait) */
@media (min-width: 769px) and (max-width: 920px) {}

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}

/* ------------------------------------------------------ */
/* -------------                            ------------- */
/* -------------      prayer-timing         ------------- */
/* -------------                            ------------- */
/* ------------------------------------------------------ */

.prayer-timing {
    height: auto;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* padding: 30px 0; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0 70px;
    background: linear-gradient(to right, rgb(235, 235, 235) 20%, white);
}


.prayer-timing-content .body {
    display: flex;
}

.prayer-timing-content .body .left {
    width: 40%;
    padding-top: 70px;
}

.prayer-timing-content .body .left h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.prayer-timing-content .body .left p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.707);
    text-align: justify;
    margin-bottom: 20px;
}

.prayer-timing-content .body .left button {
    padding: 10px 15px;
    background-color: var(--button-color);
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.prayer-timing-content .body .right {
    width: 60%;
}

.prayer-timing-content .body .right {
    padding: 20px;
}

.prayer-timing-content .body .right table {
    width: 100%;
    text-align: center;
    border-spacing: 20px;
}

.prayer-timing-content .body .right table td {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.prayer-timing-content .body .right table th p {
    font-size: 20px;
    font-weight: 700;
}

.prayer-timing-content .body .right table th img {
    width: 30px;
    margin-bottom: 10px;
}

.prayer-timing-content .body .right table td img {
    width: 25px;

}

.prayer-timing-content .body .right table tr td:first-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 20px;
}


/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {
    .prayer-timing {
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .prayer-timing .prayer-timing-content .body .left {
        display: none;
    }

    .prayer-timing .prayer-timing-content .body .right {
        width: 100%;
    }

    .prayer-timing-content .body .right table tr td:first-of-type {
        padding-left: 10px;
    }

    .prayer-timing-content .body .right table th p {
        font-size: 15px;
        font-weight: 700;
    }

    .prayer-timing-content .body .right {
        overflow-x: auto;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {
    .prayer-timing {
        padding: 0;
    }

    .prayer-timing .prayer-timing-content .body .left {
        display: none;
    }

    .prayer-timing .prayer-timing-content .body .right {
        width: 100%;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .prayer-timing .prayer-timing-content .body .left {
        display: none;
    }

    .prayer-timing .prayer-timing-content .body .right {
        width: 100%;
    }
}

/* Tablets (Portrait) */
@media (min-width: 769px) and (max-width: 920px) {}

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {
    .prayer-timing .prayer-timing-content .body .left {
        display: none;
    }

    .prayer-timing .prayer-timing-content .body .right {
        width: 100%;
    }
}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}




/* ------------------------------------------------------ */
/* -------------                            ------------- */
/* -------------     about-islam            ------------- */
/* -------------                            ------------- */
/* ------------------------------------------------------ */

.about-islam {
    background-color: var(--secondary-color);
    height: auto;
    padding: 0 70px;
    margin-top: 140px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-islam .about-islam-content {
    display: flex;
    gap: 30px;
}

.about-islam .about-islam-content .about-islam-left-video {
    padding: 10px;
    width: 50%;
    transform: translateY(-70px);
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    position: relative;
}

.about-islam .about-islam-content .about-islam-left-video .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}

.about-islam .about-islam-content .about-islam-left-video .video-icon i {
    font-size: 60px;
    color: var(--button-color);
}

.about-islam .about-islam-content .about-islam-left-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.about-islam .about-islam-content .about-islam-right-text {
    width: 50%;
    padding: 50px 0;
}

.about-islam .about-islam-content .about-islam-right-text h2::before {
    content: 'Get To Know More\A About Islam';
    white-space: pre;
    font-size: 30px;
    font-weight: 700;
}

.about-islam .about-islam-content .about-islam-right-text p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.599);
    margin-top: 20px;
    text-align: justify;
}

.about-islam .about-islam-content .about-islam-right-text button {
    padding: 10px 15px;
    font-size: 13px;
    background-color: var(--button-color);
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.about-islam .about-islam-content .about-islam-right-text button:hover {
    background-color: #fb9017;
}


/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {
    .about-islam {
        padding: 0 20px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .about-islam .about-islam-content {
        flex-direction: column;
        gap: 0;
    }

    .about-islam .about-islam-content .about-islam-left-video {
        width: 100%;
    }

    .about-islam .about-islam-content .about-islam-right-text {
        width: 100%;
        padding: 0 20px 30px 20px;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {
    .about-islam {
        padding: 0 30px;
    }

    .about-islam .about-islam-content {
        flex-direction: column;
        gap: 0;
    }

    .about-islam .about-islam-content .about-islam-left-video {
        width: 100%;
    }

    .about-islam .about-islam-content .about-islam-right-text {
        width: 100%;
        padding: 0 30px 30px 30px;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .about-islam .about-islam-content {
        flex-direction: column;
        gap: 0;
    }

    .about-islam .about-islam-content .about-islam-left-video {
        width: 100%;
    }

    .about-islam .about-islam-content .about-islam-right-text {
        width: 100%;
        padding: 0 0 30px 0px;
    }
}

/* Tablets (Portrait) */
@media (min-width: 769px) and (max-width: 920px) {
    .about-islam .about-islam-content .about-islam-right-text {
        padding: 0 30px 30px 30px;
    }
}

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}





/* ------------------------------------------------------ */
/* -------------                            ------------- */
/* -------------       services             ------------- */
/* -------------                            ------------- */
/* ------------------------------------------------------ */

section.services {
    background: linear-gradient(90deg, rgba(1, 145, 71, 1) 0%, rgba(3, 147, 73, 1) 21%, rgba(5, 173, 87, 1) 58%, rgba(5, 175, 87, 1) 79%, rgba(4, 200, 99, 1) 91%, rgba(2, 222, 109, 1) 100%);
    height: auto;
    padding: 60px 150px;
    margin-top: 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.services .services-content {
    display: flex;
    gap: 50px;
}

.services .services-content .services-left-text {
    width: 40%;
}

.services .services-content .services-left-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.services .services-content .services-left-text p {
    font-size: 14px;
    color: #ffffffab;
    margin-bottom: 20px;
    text-align: justify;
}

.services .services-content .services-left-text button {
    padding: 10px 15px;
    font-size: 13px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    cursor: pointer;
}


.services .services-content .services-right-cards {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.services .services-content .services-right-cards .card {
    flex: 1 0 200px;
    padding: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}

.services .services-content .services-right-cards .card img {
    width: 35px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.services .services-content .services-right-cards .card.active img{
    background-color: #00c76041;
}

.services .services-content .services-right-cards .card.active {
    background-color: #fff;
}

.services .services-content .services-right-cards .card:hover {
    background-color: #ffffffbb;
}
.services .services-content .services-right-cards .card.active:hover {
    background-color: #fffffff3;
}

.services .services-content .services-right-cards .card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.services .services-content .services-right-cards .card p {
    font-size: 12px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.71);
    text-align: justify;
}

.services .services-content .services-right-cards .card p:last-of-type {
    font-size: 12px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}



/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {
    section.services {
        padding: 30px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .services .services-content {
        flex-direction: column;
    }
    .services .services-content .services-left-text {
        width: 100%;
    }
    .services .services-content .services-right-cards {
        width: 100%;
    }
    .services .services-content .services-right-cards .card {
        flex: 1 0 240px;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {
    section.services {
        padding: 60px;
    }
    .services .services-content {
        flex-direction: column;
    }
    .services .services-content .services-left-text {
        width: 100%;
    }
    .services .services-content .services-right-cards {
        width: 100%;
    }
    .services .services-content .services-right-cards .card {
        flex: 1 0 240px;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    section.services {
        padding: 60px;
    }
    .services .services-content {
        flex-direction: column;
    }
    .services .services-content .services-left-text {
        width: 100%;
    }
    .services .services-content .services-right-cards {
        width: 100%;
    }
    .services .services-content .services-right-cards .card {
        flex: 1 0 240px;
    }
}

/* Tablets (Portrait) */
@media (min-width: 769px) and (max-width: 920px) {}

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {

}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {
    section.services {
        padding: 60px 130px;
    }
    .services .services-content {
        flex-direction: column;
    }
    .services .services-content .services-left-text {
        width: 100%;
    }
    .services .services-content .services-right-cards {
        width: 100%;
    }
    .services .services-content .services-right-cards .card {
        flex: 1 0 260px;
    }
}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {
    .services .services-content {
        flex-direction: column;
    }
    .services .services-content .services-left-text {
        width: 100%;
    }
    .services .services-content .services-right-cards {
        width: 100%;
    }
    .services .services-content .services-right-cards .card {
        flex: 1 0 300px;
    }
}

/* Large Desktops */
@media (min-width: 1441px) {
    .services .services-content .services-right-cards .card {
        flex: 1 0 300px;
    }
}









































































/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Tablets (Portrait) */
@media (min-width: 769px) and (max-width: 920px) {}

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}