* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #019147;
    --secondary-color: #e6f8ef;
    --button-color: #ff9822;
    --primary-transition: transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: '. content content content content content content content content content content .';
}

.content {
    grid-area: content;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}

nav.main-nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
}


ul {
    display: flex;
}

ul li {
    list-style: none;

}

a.active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 2px solid #019147;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 24px;
    color: var(--primary-color);
}

.logo h1 {
    font-size: 24px;
}

.donate-btn button {
    background-color: var(--button-color);
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.donate-btn button:hover {
    background-color: #fb9017;
}


.menu {
    display: none;
}

i.menu-btn {
    display: none;
}


/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'content content content content content content content content content content content content';
    }

    i.menu-btn {
        display: block;
        font-size: 20px;
        cursor: pointer;
        transition: all ease .3s;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
        -o-transition: all ease .3s;
    }


    .donate-btn {
        display: none;
    }

    nav.main-nav {
        display: none;
    }

    .menu.active {
        display: block;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: aqua;
        width: 80vw;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        padding: 20px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        z-index: 999999;
    }


    .menu nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu nav ul li {}
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {

    header {
        padding: 15px 5px;
    }
    nav.main-nav a {
        padding: 10px 0;
        font-size: 14px;
    }

    nav.main-nav ul {
        gap: 7px;
    }

    .donate-btn button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .logo i {
        font-size: 20px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .donate-btn {
        display: none;
    }
}

/* Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    nav.main-nav a {
        padding: 10px 0;
        font-size: 16px;
    }

    nav.main-nav ul {
        gap: 10px;
    }

    .donate-btn button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .logo i {
        font-size: 20px;
    }

    .logo h1 {
        font-size: 20px;
    }
}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}


section {
    height: 600px;
}

section.landing {
    height: 500px;
    width: 100%;
    display: flex;
    background: rgb(1, 145, 71);
    background: linear-gradient(90deg, rgba(1, 145, 71, 1) 0%, rgba(3, 147, 73, 1) 21%, rgba(5, 173, 87, 1) 58%, rgba(5, 175, 87, 1) 79%, rgba(4, 200, 99, 1) 91%, rgba(2, 222, 109, 1) 100%);
    padding: 0px 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.landing .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

section.landing .left h1 {
    font-size: 45px;
    color: #fff;
}

.break-text {
    display: inline-block;
    position: relative;
}

.break-text::after {
    content: "In The Name Of Allah, \A The Creator Of The \A Universe";
    white-space: pre;
}


section.landing .left p {
    font-size: 16px;
    color: #ffffffbc;
    margin-bottom: 10px;
}

section.landing .left button {
    padding: 13px;
    color: #fff;
    font-weight: 600;
    align-self: flex-start;
    background-color: var(--button-color);
    border: none;
    box-shadow: rgba(88, 88, 88, 0.35) 0px 5px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}


section.landing .right {
    width: 50%;
    padding: 20px;
}

section.landing .right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Small Mobile Devices (Portrait) */
@media (max-width: 480px) {
    section.landing {
        position: relative;
        padding: 0px 20px;
        background-color: #019147;
        overflow: hidden;
        border-radius:0 ;
        -webkit-border-radius:0 ;
        -moz-border-radius:0 ;
        -ms-border-radius:0 ;
        -o-border-radius:0 ;
}

    section.landing::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('./img/01-1-1.png') center/contain no-repeat;
        opacity: 0.3; /* Control the opacity of the image */
    }

    section.landing .left {
        width: 100%;
        position: relative;
        z-index: 2;
    }


    section.landing .left h1 {
        font-size: 30px;
    }

    section.landing .left p {
        font-size: 12px;
    }

    section.landing .right {
        display: none;
    }
}

/* Mobile Devices (Landscape) */
@media (min-width: 481px) and (max-width: 920px) {
    section.landing {
        position: relative;
        padding: 0px 40px;
        background-color: #019147;
        overflow: hidden;
    }

    section.landing::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('./img/01-1-1.png') center/contain no-repeat;
        opacity: 0.3; /* Control the opacity of the image */
    }
    section.landing .left {
        width: 70%;
        position: relative;
        z-index: 2;
    }


    section.landing .left h1 {
        font-size: 40px;
    }

    section.landing .left p {
        font-size: 15px;
    }

    section.landing .right {
        display: none;
    }
}

/* Tablets (Portrait) */
/* @media (min-width: 768px) and (max-width: 1024px) {

    section.landing {
        padding: 0px 60px;
    }

    section.landing .left h1 {
        font-size: 40px;
    }

} */

/* Tablets (Portrait) */
/* @media (min-width: 769px) and (max-width: 920px) {

    section.landing {
        padding: 0px 60px;
    }

    section.landing .left h1 {
        font-size: 40px;
    }

} */

/* Tablets (Portrait)  custom*/
@media (min-width: 921px) and (max-width: 1024px) {

    section.landing {
        padding: 0px 50px;
    }

    section.landing .left h1 {
        font-size: 37px;
    }

    section.landing .left p {
        font-size: 13px;
    }

}

/* Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Small Desktops / Laptops */
@media (min-width: 1281px) and (max-width: 1440px) {}

/* Large Desktops */
@media (min-width: 1441px) {}